.App-header {
    background-color: #222;
    padding: 15px;
    color: white;
    box-sizing: border-box;
}

.settingsButton {
    position: absolute;
    left: 10px;
}

.settingsButton button {
    border-radius: 2px;
    line-height: 30px;
    height: 35px;
    padding: 5px 15px;
    background-color: #454545;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    display:inline-block;
    box-sizing: border-box;
    margin: 0;
}

.settingsButton button svg {
    height: 20px;
    width: 20px;
}

.dayButtons button {
    border-right: 1px solid #6d6d6d;
}

.dayDropDown {
    max-width: 60%;
    width: 400px;
    margin: auto;
    height: 35px;
    vertical-align: middle;
}

.Dropdown-root, .Dropdown-control, .Dropdown-placeholder {
    height: 100%;
    line-height: 35px;
    vertical-align: middle;
    position: relative;
    background-color: #4b4b4b;
    border-radius: 3px;
    cursor: pointer;
}

.Dropdown-root.is-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.Dropdown-menu {
    border-top: 1px solid #5b5b5b;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

.Dropdown-option {
    background-color: #4b4b4b;
    cursor: pointer;
}

.Dropdown-option {
    cursor: pointer;
}

.Dropdown-option:hover {
    background-color: #585858;
}