.set {
    width: 104%;
    left: -2%;
    background-color: #c12826;
    border-radius: 1px;
    position: absolute;
    box-sizing: border-box;
    white-space: normal;
    padding: 5px;
    color: white;
    border-top: 1px solid #e8e704;
    border-bottom: 1px solid #e8e704;
    cursor: pointer;
    transition: background-color 100ms;
}

.set:hover {
    background-color: #cc4345;
}

.set.favourite {
    background-color: #2c78ea;
}