.timeline {
    position: relative;
    z-index: 100;
}

.hourMarker {
    position: absolute;
    width: calc(100% + 50px);
    color: #575757;
    border-top: 1px solid rgba(77, 77, 77, 0.3);
    text-align: left;
    height: 20px;
    left: -50px;
    right: 50px;
}