.App {
  text-align: center;
  background-color: #e3e3e3;
}

.App-header {
  background-color: #222;
  padding: 15px;
  color: white;
  box-sizing: border-box;
}

.App-header h2 {
  margin: 0;
}

.dayButtons button {
  height: 35px;
  padding: 5px 15px;
  background-color: #454545;
  border: none;
  color: white;
  font-size: 20px;
  border-right: 1px solid #6d6d6d;
  cursor: pointer;
  outline: none;
  display:inline-block;
  box-sizing: border-box;
  margin: 0;
}

.dayButtons button:hover {
  background-color: #555555;
}

.dayButtons button:active {
  transform: scale(0.99);
  border-right: none;
}
.dayButtons button:active + button {
  border-left: 1px solid #6d6d6d;
}

.dayButtons button:first-child {
  border-radius: 3px 0 0 3px;
}

.dayButtons button:last-child {
  border-radius: 0 3px 3px 0;
  border-right: none;
}

.dayButtons button.current {
  background-color: #8d8e69;
}
